<%- include('../includes/head.ejs',{title:'login'})%>
    <link rel="stylesheet" href="/styles/E400_500.css">
    </head>


    <body>
        <%-include( '../includes/header.ejs' )%>
            <main>
                <h1>Error 404</h1>
                <p>the page you are looking for, is not exist.</p>
                <a href="http://localhost:5000/">main page</a>
            </main>
    </body>

    </html>