<%- include('../includes/head.ejs',{title:'Error!'})%>
    <link rel="stylesheet" href="/styles/E400_500.css">
    </head>


    <body>
        <%-include( '../includes/header.ejs' )%>
            <main>
                <h1>something went wrong!</h1>
                <p>It's seems something went worng with database!</p>
                <a href="http://localhost:5000/">main page</a>
            </main>
    </body>

    </html>